In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [8]:
DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

NameError: name 'DataFrame' is not defined

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [12]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df2.<tab>

SyntaxError: invalid syntax (<ipython-input-14-d9d8bdeddb7a>, line 1)

In [15]:
df2.A

0    1
1    1
2    1
3    1
Name: A, dtype: float64

In [16]:
df2.B

0   2013-01-02
1   2013-01-02
2   2013-01-02
3   2013-01-02
Name: B, dtype: datetime64[ns]

In [17]:
df2.C

0    1
1    1
2    1
3    1
Name: C, dtype: float32

In [18]:
df2.D

0    3
1    3
2    3
3    3
Name: D, dtype: int32

In [19]:
df2.E

0     test
1    train
2     test
3    train
Name: E, dtype: category
Categories (2, object): [test, train]

In [20]:
df2.F

0    foo
1    foo
2    foo
3    foo
Name: F, dtype: object

In [21]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [22]:
df.head

<bound method DataFrame.head of                    A         B         C         D
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754>

In [23]:
df.head()

                   A         B         C         D
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232

In [24]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [25]:
df.tail(1)

                   A         B         C         D
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [26]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [27]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [28]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [29]:
df.values

array([[-0.25568402,  0.38640622,  0.38032826,  0.9149858 ],
       [-0.91148604, -0.63625103, -1.19283772, -0.8430828 ],
       [-0.12402953, -0.13336696,  0.98192033, -0.37763283],
       [ 1.92965779,  1.22778324,  0.12954655,  0.10370644],
       [ 0.09429134,  1.8721193 ,  1.09052843, -0.5672322 ],
       [-0.63871879, -1.38467856, -0.84387284,  1.06875446]])

In [30]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.015672  0.222002  0.090936  0.049916
std    1.005040  1.200485  0.938107  0.793774
min   -0.911486 -1.384679 -1.192838 -0.843083
25%   -0.542960 -0.510530 -0.600518 -0.519832
50%   -0.189857  0.126520  0.254937 -0.136963
75%    0.039711  1.017439  0.831522  0.712166
max    1.929658  1.872119  1.090528  1.068754

In [31]:
df.head(6)

                   A         B         C         D
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [32]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.255684   -0.911486   -0.124030    1.929658    0.094291   -0.638719
B    0.386406   -0.636251   -0.133367    1.227783    1.872119   -1.384679
C    0.380328   -1.192838    0.981920    0.129547    1.090528   -0.843873
D    0.914986   -0.843083   -0.377633    0.103706   -0.567232    1.068754

In [36]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.255684   -0.911486   -0.124030    1.929658    0.094291   -0.638719
B    0.386406   -0.636251   -0.133367    1.227783    1.872119   -1.384679
C    0.380328   -1.192838    0.981920    0.129547    1.090528   -0.843873
D    0.914986   -0.843083   -0.377633    0.103706   -0.567232    1.068754

In [34]:
df.head(6)

                   A         B         C         D
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [37]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.914986  0.380328  0.386406 -0.255684
2013-01-02 -0.843083 -1.192838 -0.636251 -0.911486
2013-01-03 -0.377633  0.981920 -0.133367 -0.124030
2013-01-04  0.103706  0.129547  1.227783  1.929658
2013-01-05 -0.567232  1.090528  1.872119  0.094291
2013-01-06  1.068754 -0.843873 -1.384679 -0.638719

In [38]:
df.sort(columns='B')

                   A         B         C         D
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232

In [39]:
df['A']

2013-01-01   -0.255684
2013-01-02   -0.911486
2013-01-03   -0.124030
2013-01-04    1.929658
2013-01-05    0.094291
2013-01-06   -0.638719
Freq: D, Name: A, dtype: float64

In [40]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633

In [41]:
df[4:6]

                   A         B         C         D
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [42]:
df[4]

KeyError: 4

In [43]:
df[4:5]

                   A         B         C         D
2013-01-05  0.094291  1.872119  1.090528 -0.567232

In [44]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706

In [45]:
df['20130103':'20130106']

                   A         B         C         D
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [46]:
df.loc[dates[0]]

A   -0.255684
B    0.386406
C    0.380328
D    0.914986
Name: 2013-01-01 00:00:00, dtype: float64

In [47]:
df.loc[dates[1]]

A   -0.911486
B   -0.636251
C   -1.192838
D   -0.843083
Name: 2013-01-02 00:00:00, dtype: float64

In [48]:
df.loc[dates[2]]

A   -0.124030
B   -0.133367
C    0.981920
D   -0.377633
Name: 2013-01-03 00:00:00, dtype: float64

In [49]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.255684  0.386406
2013-01-02 -0.911486 -0.636251
2013-01-03 -0.124030 -0.133367
2013-01-04  1.929658  1.227783
2013-01-05  0.094291  1.872119
2013-01-06 -0.638719 -1.384679

In [50]:
df.loc[:,['A','C']]

                   A         C
2013-01-01 -0.255684  0.380328
2013-01-02 -0.911486 -1.192838
2013-01-03 -0.124030  0.981920
2013-01-04  1.929658  0.129547
2013-01-05  0.094291  1.090528
2013-01-06 -0.638719 -0.843873

In [51]:
df.loc[:,['C','E']]

                   C   E
2013-01-01  0.380328 NaN
2013-01-02 -1.192838 NaN
2013-01-03  0.981920 NaN
2013-01-04  0.129547 NaN
2013-01-05  1.090528 NaN
2013-01-06 -0.843873 NaN

In [52]:
df.loc[:,['A','D']]

                   A         D
2013-01-01 -0.255684  0.914986
2013-01-02 -0.911486 -0.843083
2013-01-03 -0.124030 -0.377633
2013-01-04  1.929658  0.103706
2013-01-05  0.094291 -0.567232
2013-01-06 -0.638719  1.068754

In [53]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.911486 -0.636251
2013-01-03 -0.124030 -0.133367
2013-01-04  1.929658  1.227783

In [54]:
df.loc['20130102':'20130104',['A','B','C','D']]

                   A         B         C         D
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706

In [55]:
df.loc['20130102',['A','B']]

A   -0.911486
B   -0.636251
Name: 2013-01-02 00:00:00, dtype: float64

In [56]:
df.loc['20130104',['C','D']]

C    0.129547
D    0.103706
Name: 2013-01-04 00:00:00, dtype: float64

In [57]:
df.loc[dates[0],'A']

-0.25568402140161561

In [58]:
df.at[dates[0],'A']

-0.25568402140161561

In [59]:
df.iloc[3]

A    1.929658
B    1.227783
C    0.129547
D    0.103706
Name: 2013-01-04 00:00:00, dtype: float64

In [60]:
 df.iloc[2]

A   -0.124030
B   -0.133367
C    0.981920
D   -0.377633
Name: 2013-01-03 00:00:00, dtype: float64

In [61]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.929658  1.227783
2013-01-05  0.094291  1.872119

In [62]:
df.iloc[2:5,0:2]

                   A         B
2013-01-03 -0.124030 -0.133367
2013-01-04  1.929658  1.227783
2013-01-05  0.094291  1.872119

In [63]:
df.iloc[0:5,0:2]

                   A         B
2013-01-01 -0.255684  0.386406
2013-01-02 -0.911486 -0.636251
2013-01-03 -0.124030 -0.133367
2013-01-04  1.929658  1.227783
2013-01-05  0.094291  1.872119

In [64]:
df.iloc[0:6,3:5]

                   D
2013-01-01  0.914986
2013-01-02 -0.843083
2013-01-03 -0.377633
2013-01-04  0.103706
2013-01-05 -0.567232
2013-01-06  1.068754

In [65]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.911486 -1.192838
2013-01-03 -0.124030  0.981920
2013-01-05  0.094291  1.090528

In [66]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633

In [67]:
df.iloc[[1,2,4],[3]]

                   D
2013-01-02 -0.843083
2013-01-03 -0.377633
2013-01-05 -0.567232

In [68]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.386406  0.380328
2013-01-02 -0.636251 -1.192838
2013-01-03 -0.133367  0.981920
2013-01-04  1.227783  0.129547
2013-01-05  1.872119  1.090528
2013-01-06 -1.384679 -0.843873

In [69]:
df.iloc[1,1]

-0.63625102863838501

In [70]:
df.iat[1,1]

-0.63625102863838501

In [71]:
df[df.A > 0]

                   A         B         C         D
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232

In [72]:
df.A

2013-01-01   -0.255684
2013-01-02   -0.911486
2013-01-03   -0.124030
2013-01-04    1.929658
2013-01-05    0.094291
2013-01-06   -0.638719
Freq: D, Name: A, dtype: float64

In [73]:
df[df.A<0]

                   A         B         C         D
2013-01-01 -0.255684  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [74]:
df[df>0]

                   A         B         C         D
2013-01-01       NaN  0.386406  0.380328  0.914986
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03       NaN       NaN  0.981920       NaN
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528       NaN
2013-01-06       NaN       NaN       NaN  1.068754

In [75]:
df[df<0]

                   A         B         C         D
2013-01-01 -0.255684       NaN       NaN       NaN
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367       NaN -0.377633
2013-01-04       NaN       NaN       NaN       NaN
2013-01-05       NaN       NaN       NaN -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873       NaN

In [76]:
df2 = df.copy()

In [77]:
df2['E'] = ['one', 'one','two','three','four','three']

In [78]:
df2

                   A         B         C         D      E
2013-01-01 -0.255684  0.386406  0.380328  0.914986    one
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083    one
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633    two
2013-01-04  1.929658  1.227783  0.129547  0.103706  three
2013-01-05  0.094291  1.872119  1.090528 -0.567232   four
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754  three

In [79]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633   two
2013-01-05  0.094291  1.872119  1.090528 -0.567232  four

In [80]:
df2[df2['E'].isin(['one','three'])]

                   A         B         C         D      E
2013-01-01 -0.255684  0.386406  0.380328  0.914986    one
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083    one
2013-01-04  1.929658  1.227783  0.129547  0.103706  three
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754  three

In [81]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [82]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [83]:
df.at[dates[0],'A'] = 0

In [84]:
df

                   A         B         C         D
2013-01-01  0.000000  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [85]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [86]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [87]:
df.align

<bound method DataFrame.align of                    A         B         C         D
2013-01-01  0.000000  0.386406  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754>

In [88]:
df.iat[0,1] = 0

In [89]:
df

                   A         B         C         D
2013-01-01  0.000000  0.000000  0.380328  0.914986
2013-01-02 -0.911486 -0.636251 -1.192838 -0.843083
2013-01-03 -0.124030 -0.133367  0.981920 -0.377633
2013-01-04  1.929658  1.227783  0.129547  0.103706
2013-01-05  0.094291  1.872119  1.090528 -0.567232
2013-01-06 -0.638719 -1.384679 -0.843873  1.068754

In [90]:
df.loc[:,'D'] = np.array([5] * len(df))

In [91]:
df

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.380328  5
2013-01-02 -0.911486 -0.636251 -1.192838  5
2013-01-03 -0.124030 -0.133367  0.981920  5
2013-01-04  1.929658  1.227783  0.129547  5
2013-01-05  0.094291  1.872119  1.090528  5
2013-01-06 -0.638719 -1.384679 -0.843873  5

In [92]:
df.iat[0,2] = 0

In [93]:
df

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.000000  5
2013-01-02 -0.911486 -0.636251 -1.192838  5
2013-01-03 -0.124030 -0.133367  0.981920  5
2013-01-04  1.929658  1.227783  0.129547  5
2013-01-05  0.094291  1.872119  1.090528  5
2013-01-06 -0.638719 -1.384679 -0.843873  5

In [94]:
df2 = df.copy()

In [95]:
df[df2>0]=-df2

In [96]:
df2

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.000000  5
2013-01-02 -0.911486 -0.636251 -1.192838  5
2013-01-03 -0.124030 -0.133367  0.981920  5
2013-01-04  1.929658  1.227783  0.129547  5
2013-01-05  0.094291  1.872119  1.090528  5
2013-01-06 -0.638719 -1.384679 -0.843873  5

In [97]:
df2[df2>0]=-df2

In [98]:
df2

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.000000 -5
2013-01-02 -0.911486 -0.636251 -1.192838 -5
2013-01-03 -0.124030 -0.133367 -0.981920 -5
2013-01-04 -1.929658 -1.227783 -0.129547 -5
2013-01-05 -0.094291 -1.872119 -1.090528 -5
2013-01-06 -0.638719 -1.384679 -0.843873 -5

In [99]:
df2[df2<0]=-df2

In [100]:
df2

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.000000  5
2013-01-02  0.911486  0.636251  1.192838  5
2013-01-03  0.124030  0.133367  0.981920  5
2013-01-04  1.929658  1.227783  0.129547  5
2013-01-05  0.094291  1.872119  1.090528  5
2013-01-06  0.638719  1.384679  0.843873  5

In [101]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [102]:
df1

                   A         B         C  D   E
2013-01-01  0.000000  0.000000  0.000000 -5 NaN
2013-01-02 -0.911486 -0.636251 -1.192838 -5 NaN
2013-01-03 -0.124030 -0.133367 -0.981920 -5 NaN
2013-01-04 -1.929658 -1.227783 -0.129547 -5 NaN

In [103]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [104]:
df1

                   A         B         C  D   E
2013-01-01  0.000000  0.000000  0.000000 -5   1
2013-01-02 -0.911486 -0.636251 -1.192838 -5   1
2013-01-03 -0.124030 -0.133367 -0.981920 -5 NaN
2013-01-04 -1.929658 -1.227783 -0.129547 -5 NaN

In [105]:
df1.dropna(how='any')

                   A         B         C  D  E
2013-01-01  0.000000  0.000000  0.000000 -5  1
2013-01-02 -0.911486 -0.636251 -1.192838 -5  1

In [106]:
df1.fillna(value=5)

                   A         B         C  D  E
2013-01-01  0.000000  0.000000  0.000000 -5  1
2013-01-02 -0.911486 -0.636251 -1.192838 -5  1
2013-01-03 -0.124030 -0.133367 -0.981920 -5  5
2013-01-04 -1.929658 -1.227783 -0.129547 -5  5

In [107]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [108]:
df.iat[0,2] = 1.2135489416

In [109]:
df1.iat[0,2] = 1.213154153

In [110]:
df1

                   A         B         C  D   E
2013-01-01  0.000000  0.000000  1.213154 -5   1
2013-01-02 -0.911486 -0.636251 -1.192838 -5   1
2013-01-03 -0.124030 -0.133367 -0.981920 -5 NaN
2013-01-04 -1.929658 -1.227783 -0.129547 -5 NaN

In [111]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [112]:
df1.fillna(value=5)

                   A         B         C  D  E
2013-01-01  0.000000  0.000000  1.213154 -5  1
2013-01-02 -0.911486 -0.636251 -1.192838 -5  1
2013-01-03 -0.124030 -0.133367 -0.981920 -5  5
2013-01-04 -1.929658 -1.227783 -0.129547 -5  5

In [113]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [114]:
df1.iat[0,2] = Nan

NameError: name 'Nan' is not defined

In [115]:
df1.iat[0,2] = NaN

NameError: name 'NaN' is not defined

In [116]:
df1.loc[:,['C','F']]

                   C   F
2013-01-01  1.213154 NaN
2013-01-02 -1.192838 NaN
2013-01-03 -0.981920 NaN
2013-01-04 -0.129547 NaN

In [117]:
df1

                   A         B         C  D   E
2013-01-01  0.000000  0.000000  1.213154 -5   1
2013-01-02 -0.911486 -0.636251 -1.192838 -5   1
2013-01-03 -0.124030 -0.133367 -0.981920 -5 NaN
2013-01-04 -1.929658 -1.227783 -0.129547 -5 NaN

In [118]:
 df.mean()

A   -0.616364
B   -0.875700
C   -0.504193
D   -5.000000
dtype: float64

In [119]:
df.A

2013-01-01    0.000000
2013-01-02   -0.911486
2013-01-03   -0.124030
2013-01-04   -1.929658
2013-01-05   -0.094291
2013-01-06   -0.638719
Freq: D, Name: A, dtype: float64

In [120]:
df.mean(1)

2013-01-01   -0.946613
2013-01-02   -1.935144
2013-01-03   -1.559829
2013-01-04   -2.071747
2013-01-05   -2.014235
2013-01-06   -1.966818
Freq: D, dtype: float64

In [121]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [122]:
s

2013-01-01   NaN
2013-01-02   NaN
2013-01-03     1
2013-01-04     3
2013-01-05     5
2013-01-06   NaN
Freq: D, dtype: float64

In [123]:
df.sub(s, axis='index')

                   A         B         C   D
2013-01-01       NaN       NaN       NaN NaN
2013-01-02       NaN       NaN       NaN NaN
2013-01-03 -1.124030 -1.133367 -1.981920  -6
2013-01-04 -4.929658 -4.227783 -3.129547  -8
2013-01-05 -5.094291 -6.872119 -6.090528 -10
2013-01-06       NaN       NaN       NaN NaN

In [124]:
df.apply(np.cumsum)

                   A         B         C   D
2013-01-01  0.000000  0.000000  1.213549  -5
2013-01-02 -0.911486 -0.636251  0.020711 -10
2013-01-03 -1.035516 -0.769618 -0.961209 -15
2013-01-04 -2.965173 -1.997401 -1.090756 -20
2013-01-05 -3.059465 -3.869521 -2.181284 -25
2013-01-06 -3.698183 -5.254199 -3.025157 -30

In [125]:
df.apply(lambda x: x.max() - x.min())

A    1.929658
B    1.872119
C    2.406387
D    0.000000
dtype: float64

In [126]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [127]:
s

0    6
1    1
2    1
3    2
4    3
5    5
6    3
7    1
8    2
9    3
dtype: int32

In [128]:
s.value_counts()

3    3
1    3
2    2
6    1
5    1
dtype: int64

In [129]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [130]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [131]:
df = pd.DataFrame(np.random.randn(10, 4))

In [132]:
df

          0         1         2         3
0 -1.242900 -0.366399  1.600504  0.011199
1 -1.553688  1.182746 -0.846550 -2.869003
2  0.396175 -0.747120 -1.716532  0.394723
3  1.498073 -0.884175  0.716967 -0.313891
4 -1.264167 -1.060876  0.953701  1.415247
5 -1.717021 -1.314617  0.571170 -0.710449
6 -0.065507  1.331710  1.159686 -1.708264
7  0.374942 -0.838179 -0.679838 -1.385114
8 -0.427113 -1.482184 -0.274798  0.118225
9 -0.217489  0.476301 -0.431781  1.875113

In [135]:
pieces = [df[:3], df[3:7], df[7:]]

In [136]:
pd.concat(pieces)

          0         1         2         3
0 -1.242900 -0.366399  1.600504  0.011199
1 -1.553688  1.182746 -0.846550 -2.869003
2  0.396175 -0.747120 -1.716532  0.394723
3  1.498073 -0.884175  0.716967 -0.313891
4 -1.264167 -1.060876  0.953701  1.415247
5 -1.717021 -1.314617  0.571170 -0.710449
6 -0.065507  1.331710  1.159686 -1.708264
7  0.374942 -0.838179 -0.679838 -1.385114
8 -0.427113 -1.482184 -0.274798  0.118225
9 -0.217489  0.476301 -0.431781  1.875113

In [137]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [138]:
pd

In [139]:
left

   key  lval
0  foo     1
1  foo     2

In [141]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [142]:
right

   key  rval
0  foo     4
1  foo     5

In [143]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [144]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [145]:
df

          A         B         C         D
0 -1.232975  0.062474  1.381516 -0.077516
1  0.093060 -1.667885 -0.830859  1.011211
2 -0.656755 -1.088599  0.493119 -0.680265
3 -0.211070  0.464427  0.652867  0.810669
4 -0.320086  0.064939 -0.761898 -1.120446
5 -0.680578  0.103084  0.448114  0.849221
6 -0.913463  0.338308  1.542636  0.991253
7  0.430412  1.636546  0.840885 -1.537808

In [146]:
s = df.iloc[3]

In [147]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -1.232975  0.062474  1.381516 -0.077516
1  0.093060 -1.667885 -0.830859  1.011211
2 -0.656755 -1.088599  0.493119 -0.680265
3 -0.211070  0.464427  0.652867  0.810669
4 -0.320086  0.064939 -0.761898 -1.120446
5 -0.680578  0.103084  0.448114  0.849221
6 -0.913463  0.338308  1.542636  0.991253
7  0.430412  1.636546  0.840885 -1.537808
8 -0.211070  0.464427  0.652867  0.810669

In [148]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})

In [149]:
df

     A      B         C         D
0  foo    one  1.087276 -0.216898
1  bar    one -0.951237  1.079191
2  foo    two  0.710667 -1.213767
3  bar  three  1.429580 -0.748452
4  foo    two  1.002803  0.175452
5  bar    two -0.280610  1.456571
6  foo    one -1.062185 -1.418746
7  foo  three -0.775702  1.799108

In [150]:
df.groupby('A').sum()

            C         D
A
bar  0.197734  1.787310
foo  0.962860 -0.874852

In [151]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.951237  1.079191
    three  1.429580 -0.748452
    two   -0.280610  1.456571
foo one    0.025091 -1.635644
    three -0.775702  1.799108
    two    1.713470 -1.038316

In [152]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]))

In [153]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [154]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [155]:
df2 = df[:4]

In [156]:
df2

                     A         B
first second
bar   one    -0.586024  0.219027
      two     0.734242 -0.528486
baz   one     0.025605 -0.478811
      two    -0.733262 -0.841313

In [157]:
stacked = df2.stack()

In [158]:
stacked

first  second
bar    one     A   -0.586024
               B    0.219027
       two     A    0.734242
               B   -0.528486
baz    one     A    0.025605
               B   -0.478811
       two     A   -0.733262
               B   -0.841313
dtype: float64

In [159]:
stacked.unstack()

                     A         B
first second
bar   one    -0.586024  0.219027
      two     0.734242 -0.528486
baz   one     0.025605 -0.478811
      two    -0.733262 -0.841313

In [160]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.586024  0.025605
       B  0.219027 -0.478811
two    A  0.734242 -0.733262
       B -0.528486 -0.841313

In [161]:
stacked.unstack(1)

second        one       two
first
bar   A -0.586024  0.734242
      B  0.219027 -0.528486
baz   A  0.025605 -0.733262
      B -0.478811 -0.841313

In [162]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})

In [163]:
df

        A  B    C         D         E
0     one  A  foo -0.536822 -0.368804
1     one  B  foo  0.612807 -0.546058
2     two  C  foo  0.237262  1.427145
3   three  A  bar  0.110755 -3.085115
4     one  B  bar  0.436303  0.611523
5     one  C  bar  2.026470 -0.736669
6     two  A  foo  0.363610  1.278090
7   three  B  foo -1.828891 -0.454894
8     one  C  foo  0.828445  0.557489
9     one  A  bar  0.443417 -0.191802
10    two  B  bar -1.099016  1.133625
11  three  C  bar  0.136188 -0.999490

In [164]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.443417 -0.536822
      B  0.436303  0.612807
      C  2.026470  0.828445
three A  0.110755       NaN
      B       NaN -1.828891
      C  0.136188       NaN
two   A       NaN  0.363610
      B -1.099016       NaN
      C       NaN  0.237262

In [165]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [166]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [167]:
ts.resample('5Min', how='sum')

2012-01-01    27136
Freq: 5T, dtype: int32

In [168]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [169]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [170]:
ts

2012-03-06    0.723851
2012-03-07   -0.452360
2012-03-08    1.888764
2012-03-09   -1.226126
2012-03-10   -0.439121
Freq: D, dtype: float64

In [171]:
ts_utc = ts.tz_localize('UTC')

In [172]:
ts_utc

2012-03-06 00:00:00+00:00    0.723851
2012-03-07 00:00:00+00:00   -0.452360
2012-03-08 00:00:00+00:00    1.888764
2012-03-09 00:00:00+00:00   -1.226126
2012-03-10 00:00:00+00:00   -0.439121
Freq: D, dtype: float64

In [173]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    0.723851
2012-03-06 19:00:00-05:00   -0.452360
2012-03-07 19:00:00-05:00    1.888764
2012-03-08 19:00:00-05:00   -1.226126
2012-03-09 19:00:00-05:00   -0.439121
Freq: D, dtype: float64

In [174]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [175]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [176]:
ts

2012-01-31    0.230832
2012-02-29    0.413893
2012-03-31    0.410005
2012-04-30   -0.443295
2012-05-31   -0.201606
Freq: M, dtype: float64

In [177]:
ps = ts.to_period()

In [178]:
ps

2012-01    0.230832
2012-02    0.413893
2012-03    0.410005
2012-04   -0.443295
2012-05   -0.201606
Freq: M, dtype: float64

In [179]:
ps.to_timestamp()

2012-01-01    0.230832
2012-02-01    0.413893
2012-03-01    0.410005
2012-04-01   -0.443295
2012-05-01   -0.201606
Freq: MS, dtype: float64

In [180]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [181]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [182]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

In [183]:
ts.head()

1990-03-01 09:00   -0.162152
1990-06-01 09:00   -1.453702
1990-09-01 09:00    1.572064
1990-12-01 09:00   -0.327535
1991-03-01 09:00    0.490448
Freq: H, dtype: float64

In [184]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

In [185]:
df["grade"] = df["raw_grade"].astype("category")

In [186]:
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [187]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [188]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good",
                                              "very good"])

In [189]:
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [190]:
df.sort("grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [191]:
df.groupby("grade").size()

grade
very bad      1
bad         NaN
medium      NaN
good          2
very good     3
dtype: float64

In [192]:
ts = pd.Series(np.random.randn(1000), 
               index=pd.date_range('1/1/2000', periods=1000))

In [193]:
ts = ts.cumsum()

In [194]:
ts.plot()

In [195]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                 columns=['A', 'B', 'C', 'D'])

In [196]:
df = df.cumsum()

In [197]:
plt.figure(); df.plot(); plt.legend(loc='best')

In [198]:
df.to_csv('foo.csv')

In [199]:
pd.read_csv('foo.csv')

     Unnamed: 0          A          B          C          D
0    2000-01-01  -0.337710  -2.785647   0.202512  -0.020688
1    2000-01-02  -0.485242  -2.284375   1.525769   0.166092
2    2000-01-03  -1.340692  -3.542745   1.929030  -3.230988
3    2000-01-04  -1.505453  -4.124447  -0.142136  -1.515378
4    2000-01-05  -0.171690  -4.378427  -0.659541  -2.441391
5    2000-01-06   0.418358  -3.449434  -1.912645  -2.461342
6    2000-01-07  -0.952189  -4.741969  -2.170630  -3.929605
7    2000-01-08  -0.369269  -3.195379  -2.747645  -3.799714
8    2000-01-09  -1.194681  -2.131833  -2.610130  -1.793248
9    2000-01-10   0.392938  -1.507688  -2.339750  -2.120587
10   2000-01-11   0.001004  -1.040389  -1.405020  -1.128536
11   2000-01-12   1.599602  -2.431608  -0.588957  -1.073569
12   2000-01-13   2.555388  -4.447172  -0.091300   0.955687
13   2000-01-14   2.768219  -4.871647   0.386118   2.737738
14   2000-01-15   1.992031  -3.838273   0.081601   2.514049
15   2000-01-16   2.579512  -4.026091  -1.541959   2.399392
16   2000-01-17   2.202550  -2.982007  -0.901317   2.984945
17   2000-01-18   2.374070  -2.019566  -1.486226   2.801421
18   2000-01-19   1.916928  -1.837047  -0.517007   0.855932
19   2000-01-20   3.612747  -4.095599  -0.507092   1.538973
20   2000-01-21   4.436865  -6.078994  -0.572281   0.853229
21   2000-01-22   5.257373  -7.198262  -0.061418   0.203998
22   2000-01-23   7.084883  -6.719794  -0.434104   1.193188
23   2000-01-24   4.881937  -6.515781  -0.917251   1.862284
24   2000-01-25   5.744315  -6.436720  -0.328833   2.772951
25   2000-01-26   5.163959  -7.212868   0.855658   2.395191
26   2000-01-27   4.963649  -8.868637   2.456106   2.854216
27   2000-01-28   6.082153  -9.644918   2.825315   1.698487
28   2000-01-29   7.402028 -10.617137   3.388257   2.457301
29   2000-01-30   9.600602  -9.032131   4.420502   3.874453
..          ...        ...        ...        ...        ...
970  2002-08-28 -19.779675  47.132295 -20.251313  70.900598
971  2002-08-29 -19.734177  47.336498 -18.922980  71.700016
972  2002-08-30 -17.744859  46.976317 -18.865317  72.217627
973  2002-08-31 -16.828239  48.622423 -20.442822  73.231746
974  2002-09-01 -17.177897  45.802946 -20.280976  74.169027
975  2002-09-02 -17.271094  48.703099 -19.554421  74.439549
976  2002-09-03 -18.222026  50.028686 -18.073974  76.202879
977  2002-09-04 -17.523404  50.560553 -19.169129  75.348874
978  2002-09-05 -17.654419  49.315914 -20.675285  76.585287
979  2002-09-06 -18.122255  49.861877 -21.383049  78.149108
980  2002-09-07 -17.804317  50.473374 -20.760742  77.028521
981  2002-09-08 -18.334963  51.426033 -20.425566  76.852573
982  2002-09-09 -17.121723  52.005318 -19.544505  74.271757
983  2002-09-10 -16.747167  52.514269 -18.799573  75.500618
984  2002-09-11 -15.932575  53.006608 -19.131473  77.300926
985  2002-09-12 -14.550039  51.990392 -18.347361  77.529767
986  2002-09-13 -14.369496  50.047863 -20.420027  77.312112
987  2002-09-14 -13.842385  51.271676 -21.247889  75.783974
988  2002-09-15 -15.251521  48.175465 -21.817057  75.065439
989  2002-09-16 -16.977655  47.897278 -22.376277  74.606929
990  2002-09-17 -18.501556  47.648393 -22.482868  74.209281
991  2002-09-18 -18.756605  47.444710 -22.005862  72.191756
992  2002-09-19 -18.037883  49.482318 -21.800612  74.315569
993  2002-09-20 -16.500291  49.275438 -20.932215  75.387678
994  2002-09-21 -16.721262  47.098782 -20.123547  75.362500
995  2002-09-22 -15.341668  48.600845 -20.340999  75.453413
996  2002-09-23 -15.318519  48.343401 -19.870199  75.710092
997  2002-09-24 -14.314547  47.247864 -19.756791  74.687112
998  2002-09-25 -14.305555  47.344340 -19.333600  74.898462
999  2002-09-26 -13.732065  46.858507 -19.851738  75.560578

[1000 rows x 5 columns]

In [200]:
df.to_hdf('foo.h5','df')

ImportError: HDFStore requires PyTables, "No module named tables" problem importing

In [201]:
pd.read_hdf('foo.h5','df')

IOError: File foo.h5 does not exist

In [204]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

ImportError: No module named openpyxl

In [205]:
df.to_csv('foo.csv')

In [207]:
pd.read_csv('foo.csv')

     Unnamed: 0          A          B          C          D
0    2000-01-01  -0.337710  -2.785647   0.202512  -0.020688
1    2000-01-02  -0.485242  -2.284375   1.525769   0.166092
2    2000-01-03  -1.340692  -3.542745   1.929030  -3.230988
3    2000-01-04  -1.505453  -4.124447  -0.142136  -1.515378
4    2000-01-05  -0.171690  -4.378427  -0.659541  -2.441391
5    2000-01-06   0.418358  -3.449434  -1.912645  -2.461342
6    2000-01-07  -0.952189  -4.741969  -2.170630  -3.929605
7    2000-01-08  -0.369269  -3.195379  -2.747645  -3.799714
8    2000-01-09  -1.194681  -2.131833  -2.610130  -1.793248
9    2000-01-10   0.392938  -1.507688  -2.339750  -2.120587
10   2000-01-11   0.001004  -1.040389  -1.405020  -1.128536
11   2000-01-12   1.599602  -2.431608  -0.588957  -1.073569
12   2000-01-13   2.555388  -4.447172  -0.091300   0.955687
13   2000-01-14   2.768219  -4.871647   0.386118   2.737738
14   2000-01-15   1.992031  -3.838273   0.081601   2.514049
15   2000-01-16   2.579512  -4.026091  -1.541959   2.399392
16   2000-01-17   2.202550  -2.982007  -0.901317   2.984945
17   2000-01-18   2.374070  -2.019566  -1.486226   2.801421
18   2000-01-19   1.916928  -1.837047  -0.517007   0.855932
19   2000-01-20   3.612747  -4.095599  -0.507092   1.538973
20   2000-01-21   4.436865  -6.078994  -0.572281   0.853229
21   2000-01-22   5.257373  -7.198262  -0.061418   0.203998
22   2000-01-23   7.084883  -6.719794  -0.434104   1.193188
23   2000-01-24   4.881937  -6.515781  -0.917251   1.862284
24   2000-01-25   5.744315  -6.436720  -0.328833   2.772951
25   2000-01-26   5.163959  -7.212868   0.855658   2.395191
26   2000-01-27   4.963649  -8.868637   2.456106   2.854216
27   2000-01-28   6.082153  -9.644918   2.825315   1.698487
28   2000-01-29   7.402028 -10.617137   3.388257   2.457301
29   2000-01-30   9.600602  -9.032131   4.420502   3.874453
..          ...        ...        ...        ...        ...
970  2002-08-28 -19.779675  47.132295 -20.251313  70.900598
971  2002-08-29 -19.734177  47.336498 -18.922980  71.700016
972  2002-08-30 -17.744859  46.976317 -18.865317  72.217627
973  2002-08-31 -16.828239  48.622423 -20.442822  73.231746
974  2002-09-01 -17.177897  45.802946 -20.280976  74.169027
975  2002-09-02 -17.271094  48.703099 -19.554421  74.439549
976  2002-09-03 -18.222026  50.028686 -18.073974  76.202879
977  2002-09-04 -17.523404  50.560553 -19.169129  75.348874
978  2002-09-05 -17.654419  49.315914 -20.675285  76.585287
979  2002-09-06 -18.122255  49.861877 -21.383049  78.149108
980  2002-09-07 -17.804317  50.473374 -20.760742  77.028521
981  2002-09-08 -18.334963  51.426033 -20.425566  76.852573
982  2002-09-09 -17.121723  52.005318 -19.544505  74.271757
983  2002-09-10 -16.747167  52.514269 -18.799573  75.500618
984  2002-09-11 -15.932575  53.006608 -19.131473  77.300926
985  2002-09-12 -14.550039  51.990392 -18.347361  77.529767
986  2002-09-13 -14.369496  50.047863 -20.420027  77.312112
987  2002-09-14 -13.842385  51.271676 -21.247889  75.783974
988  2002-09-15 -15.251521  48.175465 -21.817057  75.065439
989  2002-09-16 -16.977655  47.897278 -22.376277  74.606929
990  2002-09-17 -18.501556  47.648393 -22.482868  74.209281
991  2002-09-18 -18.756605  47.444710 -22.005862  72.191756
992  2002-09-19 -18.037883  49.482318 -21.800612  74.315569
993  2002-09-20 -16.500291  49.275438 -20.932215  75.387678
994  2002-09-21 -16.721262  47.098782 -20.123547  75.362500
995  2002-09-22 -15.341668  48.600845 -20.340999  75.453413
996  2002-09-23 -15.318519  48.343401 -19.870199  75.710092
997  2002-09-24 -14.314547  47.247864 -19.756791  74.687112
998  2002-09-25 -14.305555  47.344340 -19.333600  74.898462
999  2002-09-26 -13.732065  46.858507 -19.851738  75.560578

[1000 rows x 5 columns]